.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.015em;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .heading2Xl {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .heading2Xl {
    font-size: 1.75rem;
  }
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.015em;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .headingXl {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .headingXl {
    font-size: 1.5rem;
  }
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

@media (max-width: 480px) {
  .headingLg {
    font-size: 1.25rem;
  }
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 480px) {
  .headingMd {
    font-size: 1.1rem;
  }
}

.borderCircle {
  border-radius: 9999px;
}

.spin {
  animation: icon-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: var(--color-text-light);
}

.gradation {
  display: inline-block;
  background: linear-gradient(45deg, #fa8bff 16%, #2bd2ff 57%, #2bff88 90%);
  background: -webkit-linear-gradient(45deg, #fa8bff 16%, #2bd2ff 57%, #2bff88 90%);
  background-clip: inherit;
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
}

@keyframes gradientEffect {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
