.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

.headerTitle {
  padding: 1rem;
}

.headerList {
  display: flex;
}

.headerList li {
  list-style: none;
  padding: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}
